@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  /* min-height: 100vh;  */
}

html {
  /* height: 100%; */
}

/* Font Weight Utilities */
.font-normal {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.font-extrabold {
  font-weight: 900;
}

/* Custom Utility for Text Balance */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
