@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden; /* Prevent horizontal scroll */
  width: 100%; /* Ensure body takes full width */
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh; /* Use min-height instead of height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.font-normal {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.font-extrabold {
  font-weight: 900;
}

/* Custom Utility for Text Balance */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
